NEXT_TELEMETRY_DISABLED=1
MONGODB_MAX_POOL_SIZE=10
MONGODB_MIN_POOL_SIZE=2
NEXT_IMAGE_CACHE_TTL=31536000
COMPRESS_ENABLED=true

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=kmknjknjnjknjnj
MONGODB_URI=mongodb://localhost:27017/iban
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GA_ID=
HOTJAR_SITE_ID=
ENCRYPTION_KEY=# 64 character hex string, e.g. '0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
IBAN_API_KEY=
NEXT_PUBLIC_CRYPTO_API_URL=https://api.coingecko.com/api/v3

AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_BUCKET_NAME=ibanbio
AWS_STORAGE_URL=cdn.iban.bio
R2_ACCOUNT_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
TWILIO_PHONE_NUMBER=
